.getintouch-section-title{
    width: 100%;
   text-align: center;
   margin-top: 15%;
}
.getintouch-span2{
    font-size: 60px;
    color: black;
}
.getintouch-span3{
    font-size: 20px;
    color: gray;
}
