.news-section-title{
    width: 100%;
   text-align: center;
   margin-top: 15%;
}
.news-span2{
    font-size: 60px;
    color: black;
}
.news-span3{
    font-size: 20px;
    color: gray;
}



.news-section-allcards{
    width: 70%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    gap: 1%;
    margin-top: 5%;
}
.news-section-card1{
    width: 30%;
    height: 600px;
    text-align: center;
}
.news-span5{
    font-size: 25px;
    color: black;
}
.news-span6{
    font-size: 20px;
    color: gray;
}
.news-section-button{
    width: 100px;
    height: 50px;
    background-color: rgb(253,164,3);
    color: white;
    border: none;
    transition: 300ms;
}
.news-section-button:hover{
    background-color: rgb(139, 91, 0);
    transition: 300ms;
}